/* here is where you put ::after
element selectors
media queries
global pseudo selectors (like :root)
class selectors for all components to use
 */

:root {
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
}
