.main {
    width: 100%;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.nav .dropdown ul {
    padding-left: 0; /* Removes padding */
    margin: 0; /* Removes margin */
}

/* Dropdown Menu */
.nav .dropdowncontent {
    /* width: 100%; */
    left: 0;
    top: 100%;
    position: absolute;
    z-index: 99;
    display: none;
}

/* Dropdown Links */
.nav .dropdowncontent a {
  background-color: rgb(36, 37, 44);;
  color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.nav .dropdown:hover .dropdowncontent {
    display: block;
}

/* Add a hover effect for dropdown links */
.nav .dropdowncontent a:hover {
  background-color: rgb(92, 95, 105);
}

.nav {
    background-color: rgb(36, 37, 44);;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

.logo {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: all 150ms;
}

.logo:hover {
    color: rgb(255, 255, 255);
    font-size: 33px;
}
.nav ul {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    position: relative;
    list-style: none;
}

.nav ul li a {
    color: rgb(255, 255, 255);
    position: relative;
    padding: 20px;
    text-decoration: none;
    display: block;
    transition: all 150ms;
}

.nav ul li a:hover {
    background-color: rgb(92, 95, 105);
}

.section {
    scroll-snap-align: start;
    padding: 5rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects {
  padding-top: 70px;
}

.bannerImage,
.projectImage {
    width: 80%;
    height: 200px;
    margin-top: 2rem;
    /* Placeholder for images */
}

.projectItem {
    margin-bottom: 3rem;
}

.links {
  text-align: right;
  right: 0;
}